[
    {websip, [
        %%% Check README.md, if u don't understand what is this
        {webserv_ip, {192,168,2,36}},
        {webserv_port, 8080},
        {pbx_domain, "@192.168.2.36"},
        {pbx_ip, "192.168.2.36"},
        {client, "sip:1000"},
        {client_pass, "12345"},
        {udp_port, "sip:all:10000"},
        {udp_port_reserve, "sip:all:10001"},
        {route, "<sip:192.168.2.36;lr>"}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/error_websip.log"}, {level, error}]},
            {lager_file_backend, [{file, "log/console_websip.log"}, {level, info}]}
        ]},
        {error_logger_redirect, false},
        {crash_log, "log/crash.log"},
        {colored, true},
        {colors, [
            {debug,     "\e[0;38m" },
            {info,      "\e[0;32m" },
            {notice,    "\e[1;36m" },
            {warning,   "\e[1;33m" },
            {error,     "\e[1;31m" }
        ]}
    ]}
].